# frappe   # https://github.com/frappe/frappe is installed during bench-init
gocardless-pro~=1.22.0
googlemaps  # used in ERPNext, but dependency is defined in Frappe
pandas~=1.1.5
plaid-python~=7.2.1
pycountry~=20.7.3
PyGithub~=1.54.1
python-stdnum~=1.16
python-youtube~=0.8.0
redisearch==2.0.0
taxjar~=1.9.2
tweepy~=3.10.0
Unidecode~=1.2.0

# Python package requirements ERPNext v13
# Datahenge version.
#
# Notes
# GoCardless allows you to pull payments from customer's banks.
#   * https://developer.gocardless.com/getting-started/api/introduction/
# Pandas is for Python data tables.
# Plaid is some kind of financial API (more research required)
# pycountry has ISO country, subdivision, language, currency, and translations.
# pycryptodome: Mostly pure-Python cryptography library
# PyGithub is a Python wrapper for the GitHub API
# python-stdnum validates all sorts of numbering conventions: Mac Address, Phone Number, IP, SSN, tons more.
# TaxJar has an API for sales tax.  Seems like a modern Avalara
# Tweepy: Library for Twitter API
